* {
  font-family: 'Poppins';
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}
.landing-app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3.5rem 0;
}
.landing-title {
  font-family: 'Macondo Swash Caps';
  font-style: normal;
  font-weight: 400;
  margin-bottom: 3.5rem;
  font-size: 12.5rem;
  line-height: 1.18em;
  /* padding: 0.556em 0.556em ; */

  color: #000000;
}
.landing-desc {
  width: 70%;
  font-size: 1.2rem;
  line-height: 1.5em;
  text-align: center;
  color: #000000;
  padding-bottom: 3.333em;
}

.landing-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 75px;
  background: #92e3a9;
  border-radius: 20px;
  font-size: 1.25rem;
  line-height: 2em;
  cursor: pointer;
}

.form-app {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
  padding: 0 3.33rem;
}

.form {
  padding: 10px 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  /* identical to box height */

  color: #000000;
}
.img-container {
  margin: 0;
}
.img-container img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.form-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 120px;

  /* identical to box height */

  color: #000000;
}

.form-main {
  display: flex;
  /* width: 55%; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 20px 40px;
}

.form-main input,
.submit-btn {
  margin: 10px 0;
  width: 350px;
  height: 45px;
  background: #d9d9d9;
  border-radius: 7px;
  border: none;
  padding-left: 20px;
}

.submit-btn {
  background-color: #92e3a9;
  padding: 0;
  font-size: inherit;
  margin-top: 20px;
}

.form-footer-text {
  display: flex;
  align-items: center;
}

.form-footer-text > hr {
  width: 100px;
  height: 0;
}
.form-footer-text > p {
  padding: 0 42px;
  font-size: 12px;
}
.login-icons {
  width: 371px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
}

.login-icons > img {
  width: auto;
  height: 25px;
}
.login-icons > .apple {
  height: 40px;
}
